In [56]:
import mysql.connector
import pandas as pd
config = {
  'user': 'doispontos',
  'password': 'cavaLO402b',
  'host': 'brigos.com.br',
  'database': 'source_double',
  'port': 61690
}
conn = mysql.connector.connect(**config)

In [57]:
query = 'SELECT *FROM source_double.api_gocontrolbetresult;'
df = pd.read_sql(query, conn)

/tmp/ipykernel_328307/825494395.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [58]:
df.head(10)

,id,ID_bet,timestamp,timestamp_signal,color,source,win,status,gale,amount,balanceWin
0,1,qlPe6yb5rz,1.682491e+09,1.682491e+09,1,1755113665,0,simulado,0,2.0,-1.0
1,2,qlPe6yb5rz,1.682491e+09,1.682491e+09,1,1570776802,0,simulado,0,2.0,-1.0
2,3,V1eK5nRwlo,1.682491e+09,1.682491e+09,1,1755113665,1,simulado,1,4.0,2.0
3,4,V1eK5nRwlo,1.682491e+09,1.682491e+09,1,1570776802,1,simulado,1,4.0,2.0
4,5,z1xQVy7Wkp,1.682491e+09,1.682491e+09,1,1755113665,0,simulado,0,2.0,-1.0
5,6,z1xQVy7Wkp,1.682491e+09,1.682491e+09,1,1570776802,0,simulado,0,2.0,-1.0
6,7,5k0LQxYmkY,1.682491e+09,1.682491e+09,1,1755113665,1,simulado,1,4.0,2.0
7,8,5k0LQxYmkY,1.682491e+09,1.682491e+09,1,1570776802,1,simulado,1,4.0,2.0
8,9,5k0LQxYmkY,1.682491e+09,1.682491e+09,1,1755113665,1,simulado,0,2.0,1.0
9,10,5k0LQxYmkY,1.682491e+09,1.682491e+09,1,1570776802,1,simulado,0,2.0,1.0

In [59]:
len(df)

8198

In [52]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

# Define as informações de conexão
config = {
  'user': 'doispontos',
  'password': 'cavaLO402b',
  'host': 'brigos.com.br',
  'database': 'source_double',
  'port': 61690
}

# Cria a conexão com o banco de dados
conn = mysql.connector.connect(**config)

# Cria um objeto de conexão compatível com o método pd.read_sql()
engine = create_engine(f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}")

# Define a consulta SQL
query = 'SELECT * FROM source_double.api_gocontrolbetresult;'

In [54]:
df = pd.read_sql(query, engine)
df.head()
# Fecha a conexão
conn.close()

In [55]:
len(df)

4151